* {
    box-sizing: border-box;
}

body {
    width: 960px;
    margin: auto;

}

h1 {
    text-align: center;
}
.container {
    margin: auto;
    width: 60%;
}


.buttons {
    display: grid;
    margin-top: 15px;
}

.btn {
    background: rgb(231, 20, 203);
    padding: 10px;
    width: 300px;
    margin: 2px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
   
}

.hide {
    display: none;
}

#start-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: purple;
    color: white;
    border-radius: 8px;
}

#timer {
    font-size: 30px;
    
}

#userAnswer {
    color: lightslategrey;
}

#question {
    font-weight: bold;
    font-size: 20px;
}